[Desktop Entry]
Categories=Dash Search Plugins
Encoding=UTF-8
Name=Video lens for Unity
GenericName=unity-lens-video
Icon=unity-lens-video
Terminal=false
Type=Application
